html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #faf3e4;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.recordar{
    margin: center;
    color: #0805c4;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

.registrarse{
    margin: center;
    color: #0805c4;
    cursor: pointer;
}

.registrarse:hover{
    text-decoration: underline;
}