html,
body {
  height: 100%;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

.btn {
    background-color: #ff5303;
    color: azure;
    border-bottom: 20%;
}

.dropdown{
  position: absolute;
  left: 30%;
  top: 79%;
}