html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

.container {
    max-width: 960px;
  }
  
.pricing-header {
     max-width: 700px;
}

.py-2{
    height: 1%;
}

.wrapper {
    background-image: radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );
    }

.calendario {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 450px;
    background-color: black;
    border-radius: 10px;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

header .icons span {
    height: 50px;
    width: 50px;
    color: #fd7e14;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .icons span:last-child {
    margin-right: -10px;
}

.calendario {
    padding: 20px;
}

.calendario ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendario .dias {
    margin-bottom: 20px;
    color: black;
}

.calendario .semanas {
    font-weight: 500;
    color: black;
}

.calendario ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendario .dias li {
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}

.dias li.inactive {
    color: #fd7e14;
}

.dias li.active {
    color: #fff;
}

.calendario .dias li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dias li:hover::before {
    background: #f2f2f2;
}

.dias li.active::before {
    background: #fd7e14;
}

.btn {
    background-color: #fd7e14;
}

.ventana-contactenos{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 4.0;
}